$fg-color: #c7c7d1;

$bar-color: rgba(50, 50, 50, 1.0);
$busy-color: rgba(60, 60, 120, 1.0);
$active-color: rgba(80, 140, 80, 1.0);
$attention-color: #ffa666;

$corner-radius: 10px;
$border-style: solid;

* {
  all: unset
}

.bar,
.invisible {
  background-color: transparent;
}

.bar {
  opacity: 1.0;
  background-color: $bar-color;
  border-top: 2px $border-style $busy-color;
  border-right: 2px $border-style $busy-color;
  border-left: 2px $border-style $busy-color;
  border-top-left-radius: $corner-radius;
  border-top-right-radius: $corner-radius;
  font-family: Fira Code Nerd Font;
  font-size: 10pt;

  // Spacing between elements.
  >*+* {
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
  }

  .workspace {
    font-weight: bold;

    // Pad workspace tiles.
    * {
      padding-top: 3px;
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .workspace:first-child {
    border-top-left-radius: $corner-radius;
  }

  .active {
    background-color: $active-color;
  }

  .urgent {
    background-color: $attention-color;
  }

  .busy {
    background-color: $busy-color;
  }
}

.metric {
  scale {
    border-radius: 50px;

    trough {
      background-color: #4e4e4e;
      min-height: 6px;
      min-width: 50px;
      margin-left: 5px;
      margin-right: 10px;

      highlight {
        background-color: #D35D6E;
        color: #000000;
      }
    }
  }

}