$bg-color: RGBA(10,10,10,0.85);
$fg-color: #c7c7d1;
$accent-color: #ffa666;

$bar-color: rgba(10, 10, 10, 1.0);
$busy-color: rgba(60, 60, 120, 1.0);
$active-color: rgba(80, 140, 80, 1.0);
$attention-color: #ffa666;

$corner-radius: 10px;

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

.bar, .invisible {
  background-color: transparent;
}

.bar {
  opacity: 0.6;
}

.workspaces {
  background-color: $bar-color;
  padding-left: 10px;
  border-top-left-radius: $corner-radius;
}

.workspace {
  font-family: Fira Code Nerd Font;
  font-size: 10pt;
  font-weight: bold;
  background-color: $bar-color;
  margin: 0px;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 4px;
}

.active {
  background-color: $active-color;
}

.urgent {
  background-color: $attention-color;
}

.busy {
  background-color: $busy-color;
}

.upper-corner {
  background-color: transparent;
  border-bottom-right-radius: $corner-radius;
  box-shadow: 0 $corner-radius 0 0 $bar-color;
}

.left-corner {
  background-color: transparent;
  border-bottom-right-radius: $corner-radius;
  box-shadow: $corner-radius 0 0 0 $bar-color;
}

// Styles on classes (see eww.yuck for more information)
/*
.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}
.workspaces button:hover {
  color: #D35D6E;
}
*/
