$bg-color: RGBA(10, 10, 10, 0.85);
$fg-color: #c7c7d1;
$accent-color: #ffa666;

$bar-color: rgba(50, 50, 50, 1.0);
$busy-color: rgba(60, 60, 120, 1.0);
$active-color: rgba(80, 140, 80, 1.0);
$attention-color: #ffa666;

$corner-radius: 10px;
$border-style: dotted;

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

.bar,
.invisible {
  background-color: transparent;
}

.bar {
  opacity: 0.6;
  background-color: $bar-color;
  border-top: 2px $border-style $busy-color;
  border-right: 2px $border-style $busy-color;
  border-left: 2px $border-style $busy-color;
  border-top-left-radius: $corner-radius;
  border-top-right-radius: $corner-radius;
  font-family: Fira Code Nerd Font;
  font-size: 10pt;
  font-weight: bold;
}


.time {

  border-top-right-radius: $corner-radius;
  margin: 0px;
  padding-left: 4px;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 4px;
}

.workspace:first-child {
  border-top-left-radius: $corner-radius;
}

.workspace {
  margin: 0px;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 4px;
}

.active {
  background-color: $active-color;
}

.urgent {
  background-color: $attention-color;
}

.busy {
  background-color: $busy-color;
}